img{width: 100%;}
h1{font-family: "STxingkai";color:#a01502;font-size: 40px;}
h2{font-family: "";color:#40413b;font-size: 20px;}
a{font-family: "Rousseau";color: #b1b2ae;font-size: 20px;font-weight: bold;text-decoration: none;}
.f_l{float: left;}
p{color: #fff;font-family: "Microsoft YaHei";font-size: 24px;}
span{color: #BBC0BC;font-family: "Microsoft YaHei";font-size: 13px;}
b{color: #691304}
input{background-color:#691304;color:#fff;}

.home{margin: 0 auto;padding: 0;position: relative;width: 1200px;height:720px;}
.home .mwords{width: 500px;height: 300px;text-align: center;line-height: 300px;position: absolute;top: 290px;}
.home .mwords p{}
/*-核心代码-*/
/* demo style */
    .bumpy-char {
    line-height: 3.4em;
    position: relative;
}


.index{background:#000;height: 1000px;width: 1200px;margin: 0 auto;padding: 0;}
.index .hat{width: 1200px;height: 400px;background: url(../img/home.jpg) no-repeat right;background-size: contain;position: relative;}
.index .hat .cinco-infor{width: 500px;height: 300px;position: absolute;margin-left: 50px;margin-top: 50px;}
.index .scraf{width: 1200px;height: 36px;background-color: #691304;}
.index .scraf .nav{width: 1000px;height: 36px;margin: 0 auto;}
.index .scraf .nav .nitem{width: 200px;height: 36px;text-align: center;line-height: 36px;}
.index .scraf .nav .nitem:hover{background: #313534;box-shadow: 0px 1px 1px #fff};
.index .story{width: 750px;height: 560px;}

.aboutme{}
.aboutme .abouttop{background:#000;height: 1000px;width: 1200px;margin: 0 auto;padding: 0;position:relative;}
.aboutme .abouttop .focus{ position:relative; width:1200px; height:400px; background-color: #000; float: left;}  
.aboutme .abouttop .focus img{ width: 1200px; height: 400px;} 
.aboutme .abouttop .focus .shadow .title{width: 260px; height: 65px;padding-left: 30px;padding-top: 20px;}
.aboutme .abouttop .focus .shadow .title a{ text-decoration:none; color:#fff; font-size:14px; font-weight:bolder; overflow:hidden; }
.aboutme .abouttop .focus .btn{ position:absolute; bottom:34px; left:510px; overflow:hidden; zoom:1;} 
.aboutme .abouttop .focus .btn a{position:relative; display:inline; width:13px; height:13px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }  
.aboutme .abouttop .focus .btn a:hover,.focus .btn a.current{  cursor:pointer;background:#fc114a;}  
.aboutme .abouttop .focus .fPic{ position:absolute; left:0px; top:0px; }  
.aboutme .abouttop .focus .D1fBt{ overflow:hidden; zoom:1;  height:16px; z-index:10;  }  
.aboutme .abouttop .focus .shadow{ width:100%; position:absolute; bottom:0; left:0px; z-index:10; height:40px; line-height: 40px; background:rgba(0,0,0,0.6);    
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block;  text-align:left; }  
.aboutme .abouttop .focus .shadow a{ text-decoration:none; color:#745353; font-size:20px; overflow:hidden; margin-left:10px; font-family: "\5FAE\8F6F\96C5\9ED1";}  
.aboutme .abouttop .focus .fcon{ position:relative; width:100%; float:left;  display:none; background:#000  }  
.aboutme .abouttop .focus .fcon img{ display:block; }  
.aboutme .abouttop .focus .fbg{bottom:25px; right:40px; position:absolute; height:16px; text-align:center; z-index: 200; }  
.aboutme .abouttop .focus .fbg div{margin:20px auto 0;overflow:hidden;zoom:1;height:14px}    
.aboutme .abouttop .focus .D1fBt a{position:relative; display:inline; width:8px; height:8px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }    
.aboutme .abouttop .focus .D1fBt .current,.focus .D1fBt a:hover{background:#fc114a;}    
.aboutme .abouttop .focus .D1fBt img{display:none}    
.aboutme .abouttop .focus .D1fBt i{display:none; font-style:normal; }    
.aboutme .abouttop .focus .prev,.aboutme .abouttop .focus .next{position:absolute;width:40px;height:74px;background: url(../img/focus_btn.png) no-repeat;}
.aboutme .abouttop .focus .prev{top: 50%;margin-top: -37px; left: 0;background-position:0 -74px; cursor:pointer; }  
.aboutme .abouttop .focus .next{top: 50%;margin-top: -37px; right: 0;  background-position:-40px -74px;  cursor:pointer;}  
.aboutme .abouttop .focus .prev:hover{  background-position:0 0; }  
.aboutme .abouttop .focus .next:hover{  background-position:-40px 0;}  
.aboutme .abouttop .anav{width: 1200px;height: 600px;position: absolute;margin-top: 400px;}
.aboutme .abouttop .anav .anav_l{width: 300px;height: 600px;border-right:1px #691304 dotted;}
.aboutme .abouttop .anav .anav_l .anavl_ispc{width: 300px;height: 294px;overflow: hidden;}
.aboutme .abouttop .anav .anav_l .anavl_item{width: 300px;height: 50px;background-color: #0E0C0B;line-height: 50px;text-align: center;border-bottom: 1px #691304 dotted;}
.aboutme .abouttop .anav .anav_l .anavl_item:hover{background-color: #691304;box-shadow: 0px 1px 1px #2c2e2b;}
.aboutme .abouttop .anav .anav_r{width: 899px;height: 600px;}
#myresume{text-align: center;}
#mypicture{padding: 10px 10px;width: 879px;height: 580px;}
#mysinging{}
#myreading{}
#mydrawing{padding: 10px 10px;width: 879px;height: 580px;}
#others{}